.App {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
	text-align: center;
	background-color: #474747;
}

.App-logo {
	height: 10vmin;
	pointer-events: none;
}

.App-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1.5em;
	background-color: #d9452d;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-left: 5em;
}

.nav-link {
	font-size: 1.6em;
	font-weight: 500;
	color: #ffbb00;
}

.nav-link:hover {
	filter: brightness(120%);
}

.nav-logo {
	font-size: 2em;
	font-weight: 500;
	color: black;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ffbb00;
	font-size: large;
	font-weight: bold;
}

h1,
h2,
h3 {
	color: #ffbb00;
	text-align: center;
}

.notification {
	margin: 2em 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article {
	margin: 2em 0;
	border: 2px solid lightgray;
	border-radius: 1em;
	min-width: 40vw;
}

section {
	line-height: 3em;
	background: rgb(180, 179, 179);
	margin: 2em 1em;
	cursor: pointer;
	border-radius: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

.create-quiz {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.quizzes-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.create-form {
	padding: 2em;
	margin: 2em;
	border: 2px solid lightgray;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.edit-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit-btns {
	display: flex;
	justify-content: center;
}

label {
	color: #ffbb00;
	font-size: 1.2em;
	font-weight: bold;
}

.form-control {
	margin: 0 1em;
}

.form-control input {
	line-height: 2.5em;
	font-size: 1em;
	border-radius: 0.5em;
}

.create-btn {
	height: 2.5em;
	margin: 2em;
	border: none;
	border-radius: 0.5em;
	font-size: 1em;
	cursor: pointer;
	background: #ffbb00;
	font-weight: bold;
}

.question-btn {
	width: 23em;
	font-size: 1em;
	height: 2.5em;
	background-color: rgb(180, 179, 179);
	border-radius: 0.5em;
	font-weight: bold;
	margin: 1em;
	border: none;
	cursor: pointer;
}

.create-btn:hover,
.question-btn:hover,
.remove-button:hover,
section:hover {
	filter: brightness(120%);
}

.page-heading {
	margin: 1em 1em 0 1em;
}

.questions-selection {
	display: inline-block;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding: 1em;
	background-color: #474747;
}

.questions-selection li {
	text-align: start;
	border-bottom: 2px solid lightgray;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
}

.questions-selection label {
	display: flex;
	font-size: 1em;
}

.questions-selection input {
	margin-right: 1em;
}

.questions-container {
	display: inline-block;
	flex-direction: column;
	align-items: flex-start;
	color: #ffbb00;
	text-align: left;
	margin: 0 1em;
	padding: 1em;
	width: 100%;
	max-width: 50em;
}

.remove-button {
	border: none;
	font-size: 1em;
	padding: 0.5em;
	margin-left: 0.5em;
	border-radius: 0.5em;
	font-weight: bold;
	color: white;
	background-color: #d9452d;
	cursor: pointer;
}

.question-answer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.5em 0;
	border-bottom: 2px solid lightgray;
	padding-bottom: 0.3em;
}

.p-question::before {
	content: 'Q: ';
}

.p-answer::before {
	content: 'A: ';
}

li label {
	font-weight: 400;
}

.q-a-input {
	display: flex;
	flex-direction: column;
	max-width: 40em;
	width: 100%;
	padding: 1em;
}

.q-a-input label {
	font-size: 1em;
	text-align: start;
}

.q-a-input-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2em;
	margin-bottom: 4em;
	min-width: 30em;
}

.q-a-input-btns button {
	width: 100%;
	margin: 0;
}

input[type='checkbox'] {
	cursor: pointer;
}

textarea {
	height: 5em;
}

tr {
	cursor: pointer;
}

td {
	width: 50%;
}

th {
	color: #ffbb00;
	font-size: 1.2em;
}
td {
	color: black;
	font-weight: bold;
}

.slide-container {
	padding: 1em;
	max-width: 52em;
	min-width: 52em;
}

.question-slide {
	width: 100%;
	max-width: 50em;
	padding: 1em;
	color: #ffbb00;
	border: 2px solid lightgray;
	border-radius: 1em;
}

.slides-navigation {
	display: flex;
	justify-content: space-between;
}

#previous {
	width: 100%;
}

#next {
	width: 100%;
}

.question-text,
.answer-text {
	text-align: start;
	color: #ffbb00;
	margin: 0.5em 0;
}

.question-text::before {
	content: 'Question: ';
	font-weight: bold;
}

.answer-text::before {
	content: 'Answer: ';
	font-weight: bold;
}

.questions-list {
	display: flex;
	justify-content: center;
	margin: 0 1em;
	padding-bottom: 4em;
}

.question-card {
	width: 100%;
	max-width: 50em;
	display: flex;
	flex-direction: column;
	align-items: start;
	border: 2px solid lightgray;
	border-radius: 1em;
	padding: 1em;
	margin: 0.5em 1em;
}

.delete-modal {
	display: none;
	z-index: 1;
	background-color: #ffbb00;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 24em;
	padding: 2em;
	border-radius: 1em;
}

.modal-title {
	color: black;
}

.modal-description {
	color: black;
	padding: 1em 0;
}

.cancel-confirm-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	column-gap: 1em;
}

.cancel-confirm-btn {
	width: 100%;
	border: none;
	height: 3em;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	border-radius: 0.5em;
	cursor: pointer;
}

#cancel {
	background-color: hsl(211, 10%, 45%);
}

#confirm {
	background-color: hsl(358, 79%, 66%);
}

.overlay {
	display: none;
	position: fixed;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
	article {
		min-width: 80vw;
	}
	.edit-form {
		flex-direction: column;
		margin-top: 2em;
	}
	.quizzes-container {
		flex-direction: column;
	}
	.q-a-input-btns {
		width: 100%;
		min-width: 10em;
		flex-direction: column;
		row-gap: 2em;
	}
	.edit-btns {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.question-btn {
		width: auto;
	}
	.questions-container {
		max-width: none;
	}
	.slide-container {
		width: 100%;
		min-width: auto;
	}
}

@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5em;
		flex-direction: column;
		background-color: #d9452d;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.nav-menu.active {
		left: 0;
	}

	.nav-item {
		margin: 1em 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

footer {
	position: absolute;
	bottom: 0;
	right: calc(50% - 8em);
	color: #ffbb00;
	margin: 1em;
}
